<!DOCTYPE HTML>
<html>
	<head>
		<title>utcscript</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="{{ .Site.BaseURL }}js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ .Site.BaseURL }}css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<div id="header">
				<span class="logo icon fa-clock-o"></span>
				<h1>utcscript</h1>
				<p>changing the world with the numbers 0-23
				</p>
			</div>

		<!-- Main -->
			<div id="main">

